.navbar {
  .logo {
    width: 215px;
    height: 50px;
    background-size: cover;
    background: url("/assets/images/Age-Of-Empires-Logo-PNG-Picture.png")
      no-repeat;
    background-position: center center;
    background-size: 215px;
  }
  ul {
    margin: 10px 0;
    padding: 0;
    display: flex;
    li {
      list-style-type: none;
      margin: 0 0 0 15px;
      a {
        color: #f3cc86;
        text-decoration: none;
        text-shadow: 1px 0px #000;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        font-style: italic;
        &:hover {
          color: #b99258;
          text-decoration: underline;
        }
      }
    }
  }
}
