<app-header></app-header>
<main class="container banner-image">
  <div class="banner-holder my-5 shadow"></div>
  <h4 class="mt-2 display-4 fst-italic">What is Age of Empires</h4>
  <p class="mt-3">
    <strong>Age of Empires</strong>
    is a series of historical <mark>real-time strategy</mark> video games,
    originally developed by <mark>Ensemble Studios</mark> and published by
    <mark>Xbox Game Studios</mark> . The first game was Age of Empires, released
    in 1997. Nine total games within the series have been released so far as of
    October 28, 2021.
    <br />
    <br />
    Age of Empires focused on events in Europe, Africa and Asia, spanning from
    the <mark>Stone Age</mark> to the <mark>Iron Age;</mark> the expansion game
    explored the formation and expansion of the <mark>Roman Empire</mark>. The
    sequel, <mark>Age of Empires II: The Age of Kings</mark>, was set in the
    <mark>Middle Ages</mark>, while its expansion focused partially on the
    <mark>Spanish conquest of the Aztec Empire</mark>. The subsequent three
    games of <mark>Age of Empires III</mark> explored the
    <mark>early modern period</mark>, when
    <mark>Europe was colonizing the Americas</mark> and several Asian nations
    were on the decline. Another installment,
    <mark>Age of Empires Online</mark>, takes a different approach as a
    free-to-play online game utilizing <mark>Games for Windows Live</mark>. A
    spin-off game, <mark>Age of Mythology</mark>, was set in the same period as
    the original Age of Empires, but focused on mythological elements of
    <mark>Greek, Egyptian,</mark> and <mark>Norse mythology</mark>. The fourth
    main installment in the series, <mark>Age of Empires IV</mark>, was released
    on October 28, 2021.[1][2]
    <br />
    <br />
    The Age of Empires series has been a commercial success, selling over 25
    million copies. Critics have credited part of the success of the series to
    its historical theme and fair play; the
    <mark>artificial intelligence (AI)</mark> players have fewer advantages than
    in many of the series' competitors.
  </p>
</main>
<app-footer></app-footer>
